body {
    padding: 0%;
    margin: 0%;
    font-family: "Solway", serif;
    font-weight: 400;
    font-style: normal;
}

.myImg {
    display: block;
    max-width: 100%;
    width: 240px;
    border-radius: 5%;
    box-shadow: 1px 5px 5px gray;
    transition: transform 0.5s ease-out;
}

.profile {
    height: 30%;
    justify-content: center;
    position: relative;

}

.profileWrapper {
    width: 100%;
    margin-top: -8%;
    height: 110%;
    background-color: #0891b2;
    transform: skewY(-9deg);
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    box-shadow: 1px 2px 4px gray;

}

.profilePicContainer {
    display: flex;
    height: 230px;
    width: 50%;
    max-width: 600px;
    border-radius: 1%;
    flex-direction: column;
    z-index: 0;
    overflow: hidden;
    margin-top: 3%;
    padding: 1%;
    background-color: rgb(241, 241, 241);
}

.imgWrapper {
    display: flex;
    flex-direction: row;
    z-index: 2;
    justify-content: center;


}

.profileImage {
    z-index: 1;
    margin-top: 1%;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2px;
    font-size: 25px
}

section {
    padding: 5%;
    z-index: 3;
}

.workContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.test {
    height: 70%;
    width: 100%;
    overflow: hidden;
    object-fit: cover
}


.card {
    display: flex;
    flex-flow: column;
    width: 450px;
    height: 400px;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 2px 3px 4px gray;
}



.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0891b2;
    color:white;
    padding:1%;
    gap: 30%;
}
.footerFinal{
    width: 45%;
    height: auto;
    object-fit: cover;
    border-radius: 7%;
}

#icn{
    display: flex;
    gap: 10px;
    justify-content: start;
        font-size: 25px

}
/* Hover logic */

.myImg:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 630px) {

    .profileWrapper {
        width: 100%;
        height: 80%;
        margin-top: 1%;
        transform: skewY(-9deg);

    }

    .imgWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profilePicContainer {

        display: flex;
        width: 90%;
        border-radius: 4%;
    }

}
.ic{
    display: flex;
    gap: 10px;
}
svg{

    width: 20px;
    height: 20px;
}