body{
    padding: 0%;
    margin: 0%;
}
img{
    display: block;
    max-width: 100%;
    
}
.profile{
    background-color: #0891b2;
    height: 250px;
    display: flex;
    justify-content: center;
    transform:  rotateX(11deg) rotateY(-37deg) scale(2)
}


.profilePicContainer{
    margin-top: 80px;
    margin-bottom: 30px;
    height: 200px;
    width: 400px;
    
    background-color: red;
    transform: rotateX(8deg) rotateY(37deg) scale(1)
}